<!DOCTYPE html>
    <html xmlns:th="http://thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize-min.css"  media="screen,projection"/>
        <link href="materialize/css/ajustes.css" rel="stylesheet"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--Other Configuration Aspects-->
        <meta charset="UTF-8">
        <title>CultFlix | Cadastrar Filme</title>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="/index" class="brand-logo">CFlix</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/cadastrarFilme">Cadastrar Filmes</a></li>
                </ul>
            </div>
        </nav>
        <h3 class="t-center">Cadastro de Filmes:</h3>
        <div class="container">
            <form method="post" enctype="multipart/form-data">
                Nome:  <input type="text" value="" name="nome"/>
                Data de Lançamento:  <input type="date" value="" name="dt_lancamento"/>
                Descricao:  <input type="text" value="" name="descricao"/>
                Foto Representativa: <input type="file" value="" name="imagemFilme" maxlength="215" accept="image/*"/>
                <button class="btn waves-effect waves-light colorir" type="submit" name="action">Salvar
                    <i class="material-icons right">send</i>
                </button>
            </form>
            <th:block th:include="mensagemValidacao"></th:block>
        </div>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="materialize/js/materialize-min.js"></script>
    </body>
</html>